.WindStatsTable {
  font-size: 2.5em;
  font-weight: bold;
  text-shadow: 3px 3px 5px black, -1px -1px 1px black;
  display: grid;
  // align-items: center;
  justify-content: center;
  z-index: 10;
  height: calc(var(--vh, 1vh) * 15);
  width: 30vh;
  table {
    width: calc(30vh - 2em);
  }
  th {
    font-size: 0.75em;
  }
  td {
    text-align: center;
  }
  td:first-child,
  th:first-child {
    text-align: left;
  }
}

@media only screen and (max-height: 1920px) {
  .WindStatsTable {
    // width: calc(100vw - 15vh);
    font-size: 4em;
    table {
      // width: calc(100vw - 15vh);
      th {
        font-size: 0.5em;
      }
      td:first-child {
        font-size: 0.5em;
      }
    }
  }
}
@media only screen and (max-height: 1079px) {
  .WindStatsTable {
    font-size: 0.9rem;
  }
}
@media only screen and (max-height: 600px) {
  .WindStatsTable {
    font-size: 0.45rem;
  }
}
