#LoadClocks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 80vh;
}

.NoLoadsScheduled {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  text-align: center;
  text-shadow: 0px 0px 2px red;
  background: linear-gradient(
    181deg,
    hsla(360, 100%, 50%, 0.5),
    5%,
    hsla(240, 100%, 50%, 0.5),
    95%,
    hsla(240, 100%, 100%, 0.5)
  );
  width: 100%;
}
