.Screen {
  // position: absolute;
  // top: 0;
  // left: 0;
  // width: 100vw;
  height: 100vh;
  background: #282c34 url(../SkydiveSpacelandLogo-white-text.png) no-repeat
    center;
  &::after {
    font-family: "HelveticaNeue";
    position: relative;
    top: -80vh;
    left: 0;
    width: 100%;
    // text-align: right;
    content: attr(locationname);
    font-size: 8em;
    opacity: 0.25;
  }
}

@media only screen and (min-width: 1600px) {
  .ViewPort {
    display: flex;
  }
  .Screen {
    margin-right: 1px;
    width: 20vw;
    background-size: contain;
    &::after {
      font-size: 2.5em;
    }
  }
  #Header {
    font-size: x-small;
  }
  .StatsTable {
    font-size: small;
  }
}
