.StatsTable {
  font-weight: bold;
  display: grid;
  justify-content: center;
  z-index: 10;
  height: 200px;
  width: 324px;
  border: 1px solid white;
  border-radius: 10px;
  background-image: linear-gradient(hsl(240, 50%, 40%), hsl(240, 100%, 10%));
  opacity: 0.8;
  position: absolute;
  left: 203px;
  bottom: 0px;
}
