.WindChart {
  font-weight: bold;
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(transparent, 30%, black);
  width: calc(100% - 2px);
  height: 25vmin;
  .Bar {
    position: absolute;
    bottom: 0;
    display: inline-block;
    margin-right: 1px;
    background-color: hsl(120, 100%, 50%);
    height: 25vmin;
    width: 1px;
  }
  .Grad {
    text-align: right;
    position: absolute;
    width: 100%;
    border-bottom: 1px solid rgba(128, 128, 255, 0.15);
    &.label {
      border-bottom: 1px solid rgba(138, 138, 255, 0.75);
    }
    &.label::before {
      font-size: small;
      content: attr(alt);
      position: absolute;
      right: 0px;
      transform: translateY(-1rem);
    }
  }
  .VertGrad {
    position: absolute;
    height: 100%;
    border-right: 1px solid rgba(255, 255, 255, 0.15);
    &.label {
      border-right: 1px solid white;
    }
    &.label::before {
      font-size: small;
      content: attr(alt);
    }
  }
}
