.App {
  background: #282c34 url(./SkydiveSpacelandLogo-white-text.png) no-repeat fixed
    center;
}

.App {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}
.ViewPort {
  position: relative;
  left: -00vw;
  height: 100vh;
  transition: 1s ease-out;
}
@media only screen and (max-width: 500px) {
  .App {
    background-size: contain;
  }
}
